nav:not(.home) .img-logo{
	float:right;
	width:10%;
}
.img-logo{
	display: block;
	margin: 10px auto;
    width: 50%;
    height: auto;
}
.img-home{
	display: float-left;
	margin: 10px;
    width: 10%;
    height: auto;
}

.home .button-home{
	display: none;
}
nav:not(.home) .button-asn,
nav:not(.home) .button-da {
	display: none;
}
.paginaActual{
	display:block;
	margin:10px auto;
	text-align: center;
}
		